@import url('https://fonts.googleapis.com/css?family=Open+Sans:800');

/* Estilos genericos */
html {
    position: relative;
    min-height: 100%;
}

/*body {
    margin: 0 0 60px; 
}*/

.footer {
    bottom: 0;
    width: 100%;
    position:absolute;
}

.nav-container {
    width: 100%;
    background-color: #646464;
    margin: 0 0 30px 0;
}

.nav-pills > li > a {
    border-radius: 0!important;
    color: #fff;
    padding-right: 40px;
}

.form-inline {
    text-align: center;
    margin: 0 0 15px 0;
}

.ranking {
    width: 30%;
    height: 0; /* A mágica está aqui */
    padding-bottom: 48%; /* ... e está aqui */
    margin: 1%;
    border: 5px solid;
    border-radius: 14px;
}

.imagem_ranking {
    border-left: 5px solid;
    border-right: 5px solid;
    border-top: 5px solid;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.nome_ranking_par_ultimo {
    width: 30%;
    height: 10%;
    background-color: #4169E1;
    border-left: 5px solid;
    border-right: 5px solid;
    border-bottom: 5px solid;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}
.nome_ranking_par {
    width: 30%;
    height: 10%;
    background-color: #4169E1;
    border-left: 5px solid;
    border-right: 5px solid;
}

.nome_ranking_impar {
    width: 30%;
    height: 10%;
    background-color: blue;
    border-left: 5px solid;
    border-right: 5px solid;
}

.ponto_ranking {
    text-align: right;
    color: white;
}

#aviso {
    font-size: 18px;
    text-align: center;
    color: red;
    font-weight: bold;
}

#comeco {
    background-color: blue;
}